body{
  margin: 0;
  padding: 0;
  font-weight: normal;
  height: 100vh;
  box-sizing: border-box;
}

ol, ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: #E5E7EB;
}

/*Header Styles*/

.header-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1F2937;
  padding-bottom: 20px;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 725px;
}

.header div{
  font-size: 24px;
  color: #F9FAF8;
  font-weight: 900;
}

.header-links{
  display: flex;
  gap: 15px;
  font-size: 18px;
}

.header-content{
  display: flex;
  justify-content: space-between;
  width: 725px;
  padding: 50px;
}

#header-content-title{
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;
  width: 350px;
}

#header-content-subtext{
  font-size: 18px;
  color: #E5E7EB;
  width: 400px;
}

.sign-up-button{
  padding: 7px 20px;
  background-color: #3882F6;
  color: white;
  border-radius: 5px;
  border: 0px;
  font-weight: 700;
  margin-top: 5px;
}

/*Second Container Styles*/

.second-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

#second-container-title{
  color: #1f2937;
  font-weight: 900;
  font-size: 36px;
  margin: 40px 0px 20px 0px;
}

.second-container-content{
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 20px;
}

.box-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box{
  width:100px;
  height:100px;
  border: 2px solid;
  border-color: #3882F6;
  border-radius: 10px;
}

.box-text{
  width: 104px;
  text-wrap: wrap;
  font-size: 12px; 
  text-align: center;
  margin-top: 5px;
  color: gray;
}

/*Third section styles*/

.quote-container{
  display: flex;
  justify-content: center;
  background-color: #E5E7EB;
  padding: 75px 100px;
}

.quote-content-container{
  display: flex;
  flex-direction: column;
  width: 700px;
}

#inspiring-quote{
  font-size: 30px;
  color: #1F2937;
  width: 700px;
  align-self: center;
}

#quote-author{
  align-self: flex-end;
  font-weight: 900;

}